.page {
    height: 100%;

    .header {
        display: flex;
        align-items: center;

        .menu {
            flex: 1;
            min-width: 0;
        }
    }

    .content {
        padding: 16px;
        
    }
}